<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ParkingID" value="1" />
    <add key="GateID" value="1" />
    <add key="CarType" value="0" />
    <add key="CamIPaddress" value="192.168.0.64" />
    <add key="CamUsername" value="admin" />
    <add key="CamPassword" value="1q2w3e4r" />
    <add key="IOBcomPort" value="COM4" />
    <add key="IOBbaudRate" value="115200" />
    <add key="SRD1comPort" value="COM2" />
    <add key="SRD2comPort" value="COM1" />
    <add key="SBPbaudRate" value="115200" />
    <add key="ControlCenterIP" value="192.168.0.68" />
    <add key="AutoLoginUser" value="user1" />
    <add key="AutoLoginPassword" value="user1" />
    <add key="AnnounceControlCenter" value="False" />
    <add key="SqlDataSource" value="MASOUDPC\SQLEXPRESS2" />
    <add key="SqlInitialCatalog" value="philippinesPMS" />
    <add key="SqlUserId" value="sa" />
    <add key="SqlPassword" value="1q2w3e4r" />
    <add key="SgbBarrierComPort" value="COM1" />
    <add key="SgbBarrierBaudRate" value="115200" />
    <add key="BarrierControllerType" value="Network" />
    <add key="Gp90ComPort" value="COM1" />
    <add key="IobInputFromButton" value="1" />
    <add key="IobInputFromLoop" value="2" />
    <add key="IpCameraStream" value="Main stream" />
    <add key="IobType" value="1000" />
    <add key="LoopDetectionRequired" value="True" />
    <add key="EnableNetworkListener" value="False" />
    <add key="ListenOnPort" value="810" />
    <add key="BarrierControllerIp" value="192.168.0.17" />
    <add key="ImagesSaveFolder" value="C:\" />
	<add key="DontSaveFullSizeImagesOnTheServer" value="False" />
	 <add key="LocalIPAddress" value="192.168.1.1" />
	  <add key="SerialNumber" value="0000" />
	  <add key="Terminal" value="DISPENSER1" />
	  <add key="Location" value="SMARCOM" />

  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
